<div class="container">
  <h1>Venel Rene</h1>
  <p>Junior web Developer</p>
  <p> Add something interesting text here!</p>

  <br>

  <a href="https://github.com/venelrene" target="_blank"> <%= image_tag('github-32.png')%></a>
  <a href="https://linkedin.com/in/venelrene" target="_blank"> <%= image_tag('linkedin_circle_black-32.png') %></a>
  <a href="https://twitter.com/unworthyrene" target="_blank"> <%= image_tag('twitter-32.png')%></a>
</div>